$font-primary: "Montserrat", sans-serif;
$font-secondary: "Inter", sans-serif;
$font-alternate: "Roboto", sans-serif;
$font-heading: "Poppins", sans-serif;

$color-secondary: #0056b3;
$color-primary: #ffb600;
$color-beige: #f5f5dc;
$color-blue-moderate: #90AFC5;

$color-theme: #B85042;
$color-theme-secondary: #210b0c;
