<section id="project-area" class="project-area solid-bg">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2 class="section-title">Products &amp; Accessories</h2>
        <h3 class="section-sub-title">Product Catalogue</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="shuffle-btn-group">
          <label class="active" for="all">
            <input type="radio" name="shuffle-filter" id="all" value="all" checked="checked" />Show All
          </label>
          <label for="commercial">
            <input type="radio" name="shuffle-filter" id="commercial" value="commercial" />MDF Boards
          </label>
          <label for="education">
            <input type="radio" name="shuffle-filter" id="education" value="education" />Marble Sheets and Wall Panels
          </label>
          <label for="government">
            <input type="radio" name="shuffle-filter" id="government" value="government" />Gypsum Boards and Accessories
          </label>
          <label for="infrastructure">
            <input type="radio" name="shuffle-filter" id="infrastructure" value="infrastructure" />Doors
          </label>
          <label for="residential">
            <input type="radio" name="shuffle-filter" id="residential" value="residential" />Accessories
          </label>
        </div>

        <div class="row shuffle-wrapper">
          <div class="col-1 shuffle-sizer"></div>

          <!-- ====================== MDF BOARDS (8 items) ====================== -->
          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["commercial"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/MDF_Boards/landing/3DTWINE.jpg" aria-label="product-img">
                <img class="img-fluid" src="images/products/MDF_Boards/landing/3DTWINE.jpg" alt="3D Twine" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">3D Twine</a></h3>
                  <p class="project-cat">MDF Boards</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["commercial"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/MDF_Boards/landing/AMAYA.jpg">
                <img class="img-fluid" src="images/products/MDF_Boards/landing/AMAYA.jpg" alt="Amaya" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Amaya</a></h3>
                  <p class="project-cat">MDF Boards</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["commercial"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/MDF_Boards/landing/BLACKSPIDER.jpg">
                <img class="img-fluid" src="images/products/MDF_Boards/landing/BLACKSPIDER.jpg" alt="Black Spider" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Black Spider</a></h3>
                  <p class="project-cat">MDF Boards</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["commercial"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/MDF_Boards/landing/BRILLIANTWHITE.jpg">
                <img class="img-fluid" src="images/products/MDF_Boards/landing/BRILLIANTWHITE.jpg" alt="Brilliant White" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Brilliant White</a></h3>
                  <p class="project-cat">MDF Boards</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["commercial"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/MDF_Boards/landing/GOLDENSPIRAL.jpg">
                <img class="img-fluid" src="images/products/MDF_Boards/landing/GOLDENSPIRAL.jpg" alt="Golden Spiral" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Golden Spiral</a></h3>
                  <p class="project-cat">MDF Boards</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["commercial"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/MDF_Boards/landing/LIGHTCEDAR.jpg">
                <img class="img-fluid" src="images/products/MDF_Boards/landing/LIGHTCEDAR.jpg" alt="Light Cedar" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Light Cedar</a></h3>
                  <p class="project-cat">MDF Boards</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["commercial"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/MDF_Boards/landing/ROCKYGREY.jpg">
                <img class="img-fluid" src="images/products/MDF_Boards/landing/ROCKYGREY.jpg" alt="Rocky Grey" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Rocky Grey</a></h3>
                  <p class="project-cat">MDF Boards</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["commercial"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/MDF_Boards/landing/WHITEOAK.jpg">
                <img class="img-fluid" src="images/products/MDF_Boards/landing/WHITEOAK.jpg" alt="White Oak" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">White Oak</a></h3>
                  <p class="project-cat">MDF Boards</p>
                </div>
              </div>
            </div>
          </div>

          <!-- ====================== MARBLE SHEETS & WALL PANELS (8 items) ====================== -->
          <!-- Using the best-looking ones from your folder -->
          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["education"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Marble_Sheets_and_Wall_Panels/IMG-20250615-WA0077.jpg">
                <img class="img-fluid" src="images/products/Marble_Sheets_and_Wall_Panels/IMG-20250615-WA0077.jpg" alt="Premium Marble Sheet" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Premium Marble Sheet</a></h3>
                  <p class="project-cat">Marble Sheets</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["education"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Marble_Sheets_and_Wall_Panels/IMG-20250615-WA0129.jpg">
                <img class="img-fluid" src="images/products/Marble_Sheets_and_Wall_Panels/IMG-20250615-WA0129.jpg" alt="Classic Marble" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Classic Marble</a></h3>
                  <p class="project-cat">Marble Sheets</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["education"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Marble_Sheets_and_Wall_Panels/IMG-20250615-WA0135.jpg">
                <img class="img-fluid" src="images/products/Marble_Sheets_and_Wall_Panels/IMG-20250615-WA0135.jpg" alt="Elegant Marble" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Elegant Marble</a></h3>
                  <p class="project-cat">Marble Sheets</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["education"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Marble_Sheets_and_Wall_Panels/IMG-20250715-WA0128.jpg">
                <img class="img-fluid" src="images/products/Marble_Sheets_and_Wall_Panels/IMG-20250715-WA0128.jpg" alt="Luxury Marble" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Luxury Marble</a></h3>
                  <p class="project-cat">Marble Sheets</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["education"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Marble_Sheets_and_Wall_Panels/IMG-20250715-WA0137.jpg">
                <img class="img-fluid" src="images/products/Marble_Sheets_and_Wall_Panels/IMG-20250715-WA0137.jpg" alt="Modern Marble" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Modern Marble Panel</a></h3>
                  <p class="project-cat">Wall Panels</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["education"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Marble_Sheets_and_Wall_Panels/IMG-20250715-WA0148.jpg">
                <img class="img-fluid" src="images/products/Marble_Sheets_and_Wall_Panels/IMG-20250715-WA0148.jpg" alt="Premium Wall Panel" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Premium Wall Panel</a></h3>
                  <p class="project-cat">Wall Panels</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["education"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Marble_Sheets_and_Wall_Panels/IMG-20250615-WA0130.jpg">
                <img class="img-fluid" src="images/products/Marble_Sheets_and_Wall_Panels/IMG-20250615-WA0130.jpg" alt="Designer Wall Panel" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Designer Wall Panel</a></h3>
                  <p class="project-cat">Wall Panels</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["education"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Marble_Sheets_and_Wall_Panels/IMG-20250715-WA0132.jpg">
                <img class="img-fluid" src="images/products/Marble_Sheets_and_Wall_Panels/IMG-20250715-WA0132.jpg" alt="Contemporary Wall Panel" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Contemporary Panel</a></h3>
                  <p class="project-cat">Wall Panels</p>
                </div>
              </div>
            </div>
          </div>

          <!-- ====================== GYPSUM BOARDS & ACCESSORIES (8 items) ====================== -->
          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["government"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Gypsum/landing/Gypsum_board1.jpg">
                <img class="img-fluid" src="images/products/Gypsum/landing/Gypsum_board1.jpg" alt="Black Spider" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Black Spider</a></h3>
                  <p class="project-cat">MDF Boards</p>
                </div>
              </div>
            </div>
          </div>
         <!-- Fixed & Correct Gypsum Board Entry -->
<div class="col-lg-4 col-md-6 shuffle-item" data-groups='["government"]'>
  <div class="project-img-container">
    <a class="gallery-popup" href="images/products/Gyspum/grey_Gypsum_board.JPG" aria-label="Grey Gypsum Board">
      <img class="img-fluid" src="images/products/Gyspum/grey_Gypsum_board.JPG" alt="Standard Grey Gypsum Board" />
      <span class="gallery-icon"><i class="fa fa-plus"></i></span>
    </a>
    <div class="project-item-info">
      <div class="project-item-info-content">
        <h3 class="project-item-title"><a href="projects-single.html">Standard Gypsum Board</a></h3>
        <p class="project-cat">Gypsum Boards</p>
      </div>
    </div>
  </div>
</div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["government"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Gypsum/IMG_1092.JPG">
                <img class="img-fluid" src="images/products/Gypsum/IMG_1092.JPG" alt="Moisture-Resistant Board" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Moisture-Resistant</a></h3>
                  <p class="project-cat">Gypsum Boards</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["government"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Gypsum/IMG_1112.JPG">
                <img class="img-fluid" src="images/products/Gypsum/IMG_1112.JPG" alt="Ceiling Gypsum Board" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Ceiling Gypsum</a></h3>
                  <p class="project-cat">Gypsum Boards</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["government"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Gypsum/IMG_1125.JPG">
                <img class="img-fluid" src="images/products/Gypsum/IMG_1125.JPG" alt="Corner Bead" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Corner Beads</a></h3>
                  <p class="project-cat">Accessories</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["government"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Gypsum/IMG_1098.JPG">
                <img class="img-fluid" src="images/products/Gypsum/IMG_1098.JPG" alt="Metal Studs & Tracks" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Metal Studs & Tracks</a></h3>
                  <p class="project-cat">Accessories</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["government"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Gypsum/IMG_1165.JPG">
                <img class="img-fluid" src="images/products/Gypsum/IMG_1165.JPG" alt="Joint Compound" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Joint Compound</a></h3>
                  <p class="project-cat">Accessories</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["government"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Gypsum/IMG_1149.JPG">
                <img class="img-fluid" src="images/products/Gypsum/IMG_1149.JPG" alt="Acoustic Gypsum" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Acoustic Board</a></h3>
                  <p class="project-cat">Gypsum Boards</p>
                </div>
              </div>
            </div>
          </div>

          <!-- ====================== DOORS (8 items) ====================== -->
          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["infrastructure"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Doors/IMG_0826.JPG">
                <img class="img-fluid" src="images/products/Doors/IMG_0826.JPG" alt="Classic Interior Door" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Classic Interior Door</a></h3>
                  <p class="project-cat">Doors</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["infrastructure"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Doors/IMG_1211.JPG">
                <img class="img-fluid" src="images/products/Doors/IMG_1211.JPG" alt="Modern Panel Door" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Modern Panel Door</a></h3>
                  <p class="project-cat">Doors</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["infrastructure"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Doors/IMG_1228.JPG">
                <img class="img-fluid" src="images/products/Doors/IMG_1228.JPG" alt="Designer Door" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Designer Premium Door</a></h3>
                  <p class="project-cat">Doors</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["infrastructure"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Doors/IMG_1238.JPG">
                <img class="img-fluid" src="images/products/Doors/IMG_1238.JPG" alt="Contemporary Entry" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Contemporary Entry Door</a></h3>
                  <p class="project-cat">Doors</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["infrastructure"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Doors/IMG_1262.JPG">
                <img class="img-fluid" src="images/products/Doors/IMG_1262.JPG" alt="Luxury Panel Door" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Luxury Panel Door</a></h3>
                  <p class="project-cat">Doors</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["infrastructure"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Doors/IMG_1327.JPG">
                <img class="img-fluid" src="images/products/Doors/IMG_1327.JPG" alt="Elegant Double Door" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Elegant Double Door</a></h3>
                  <p class="project-cat">Doors</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["infrastructure"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Doors/IMG_1328.JPG">
                <img class="img-fluid" src="images/products/Doors/IMG_1328.JPG" alt="Grand Entrance Door" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Grand Entrance</a></h3>
                  <p class="project-cat">Doors</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["infrastructure"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Doors/IMG_1345.JPG">
                <img class="img-fluid" src="images/products/Doors/IMG_1345.JPG" alt="Premium Solid Door" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Premium Solid Door</a></h3>
                  <p class="project-cat">Doors</p>
                </div>
              </div>
            </div>
          </div>

          <!-- ====================== ACCESSORIES (8 items) ====================== -->
          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["residential"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Accessories/IMG_0848.JPG">
                <img class="img-fluid" src="images/products/Accessories/IMG_0848.JPG" alt="Door Handle Set" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Premium Door Handle</a></h3>
                  <p class="project-cat">Accessories</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["residential"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Accessories/IMG_0853.JPG">
                <img class="img-fluid" src="images/products/Accessories/IMG_0853.JPG" alt="Hinge Set" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Heavy Duty Hinges</a></h3>
                  <p class="project-cat">Accessories</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["residential"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Accessories/IMG_0876.JPG">
                <img class="img-fluid" src="images/products/Accessories/IMG_0876.JPG" alt="Lock System" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Smart Lock System</a></h3>
                  <p class="project-cat">Accessories</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["residential"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Accessories/IMG_0909.JPG">
                <img class="img-fluid" src="images/products/Accessories/IMG_0909.JPG" alt="Door Closer" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Hydraulic Door Closer</a></h3>
                  <p class="project-cat">Accessories</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["residential"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Accessories/IMG_0932.JPG">
                <img class="img-fluid" src="images/products/Accessories/IMG_0932.JPG" alt="Door Stopper" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Premium Door Stopper</a></h3>
                  <p class="project-cat">Accessories</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["residential"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Accessories/IMG_0954.JPG">
                <img class="img-fluid" src="images/products/Accessories/IMG_0954.JPG" alt="Decorative Knob" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Decorative Door Knob</a></h3>
                  <p class="project-cat">Accessories</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["residential"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Accessories/IMG_0983.JPG">
                <img class="img-fluid" src="images/products/Accessories/IMG_0983.JPG" alt="Mortise Lock" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Mortise Lock Set</a></h3>
                  <p class="project-cat">Accessories</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups='["residential"]'>
            <div class="project-img-container">
              <a class="gallery-popup" href="images/products/Accessories/IMG_1025.JPG">
                <img class="img-fluid" src="images/products/Accessories/IMG_1025.JPG" alt="Door Viewer & Chain" />
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title"><a href="projects-single.html">Door Viewer & Chain</a></h3>
                  <p class="project-cat">Accessories</p>
                </div>
              </div>
            </div>
          </div>

        </div><!-- .shuffle-wrapper -->
      </div>
    </div>
  </div>
</section>
